<nav class="uk-navbar uk-navbar-container uk-navbar-transparent uk-margin-bottom uk-light" uk-navbar="mode: click">
  <div class="uk-navbar-left uk-visible@m">
    <ul class="uk-navbar-nav">
      <li routerLinkActive="uk-active" *ngFor="let page of pages"><a [routerLink]=page.href>
        <div>
          {{page.caption}}
          <div class="uk-navbar-subtitle">
            {{page.subCaption}}
          </div>
        </div>
      </a></li>
    </ul>
  </div>

  <div class="uk-navbar-center">
    <ul class="uk-navbar-nav">
      <li class="uk-active"><a [routerLink]="" style="font-size: 30px;">Moe Online Judge</a></li>
    </ul>
  </div>

  <div class="uk-navbar-right uk-visible@m">
    <ul class="uk-navbar-nav">
      <li class="uk-active" *ngFor="let page of navRight"><a [routerLink]=page.href>
        <div>
          {{page.caption}}
          <div class="uk-navbar-subtitle">
            {{page.subCaption}}
          </div>
        </div>
      </a></li>
    </ul>
  </div>

  <div class="uk-navbar-right uk-hidden@m">
    <ul class="uk-navbar-nav">
      <li>
        <a class="uk-navbar-toggle" uk-navbar-toggle-icon href=""></a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li routerLinkActive="uk-active" *ngFor="let page of pages">
              <a [routerLink]=page.href>{{ caption }}</a>
            </li>
            <li class="uk-nav-divider"></li>
            <li class="uk-active" *ngFor="let page of navRight"><a [routerLink]=page.href>{{page.caption}}</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
