<div class="uk-container">
  <p class="uk-margin-medium uk-text-lead uk-light">
    欢迎来到Moe Online Judge~<br>
    注意：尚未完工
  </p>
  <div class="uk-grid uk-child-width-1-1 uk-grid-small" uk-grid>
    <div *ngFor="let notice of notices">
      <div class="uk-card uk-card-default uk-card-small uk-card-body">
        <h3 class="uk-panel-title uk-margin-remove">{{notice?.title}}</h3>
        <p class="uk-text-meta uk-margin-remove-top uk-margin-small-bottom">{{notice?.author}} {{notice?.date}}</p>
        <span [innerHtml]=md.makeHtml(notice?.body)></span>
      </div>
    </div>
  </div>
</div>
